*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.bold {
    font-weight: bold;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 1em;
    text-align: center;
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.mainText {
    font-size: 1.125rem;
    line-height: 2;
}

.columns {
    column-count: 3;
    column-gap: 5em;
    column-rule: 1px solid #ccc;
    column-width: 350px;
}

.modalContainer {
    align-items: center;
    background-color: grey;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0%;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0%;
    transition: opacity 100ms ease-in-out;
    width: 100vw;
    &.show {
        pointer-events: auto;
        opacity: 1;
    }
    .modal {
        background-color: #fff;
        border: #138a64 3px solid;
        border-radius: 5px;
        max-width: 40%;
        padding: 1.5em 2.5em;
        text-align: center;
        p {
            font-size: 1rem;
            margin: 0 0 1em 0;
            opacity: 0.8;
            a {
                color: #138a64;
                font-size: 1.25rem;
                font-style: italic;
                font-weight: bold;
                text-decoration: underline;
            }
        }
        img {
            margin: 0 0 0.75em 0;
        }
        button {
            background-color: #138a64;
            border: 0;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            margin: 0.5em 0 0 0;
            padding: 1em 2em;        
        }
    }
}

#containerOne {
    align-items: center;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    min-height: 100px;
    #message {
        align-items: center;
        display: flex;
        font-size: 1em;
        justify-content: center;
        position: relative;
        &::after {
            content: url(../media/money.svg);
            font-size: 1em;
            position: absolute;
            right: -1.75em;
            top: -0.2em;
        }
    }
}

#mainContent {
    display: flex;
    flex-direction: row;
    #containerTwo {
        background-color: rgb(243, 226, 149);
        min-height: 100px;
        padding: 2em 3em;
        width: 65%;
        #labelContainer {
            display: flex;
            flex-direction: row;
            .customizedSelect {
                margin: 1em auto;
                position: relative;
                #selectStories {
                    background-color: #b5a061;
                    border: 0;
                    color: #fff;
                    font-size: 1.25rem;
                    padding: 1em 3em 1em 1.25em;
                }
                .customizedArrow {
                    background-color: #685b33;
                    display: block;
                    height: 100%;
                    pointer-events: none;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 3rem;
                    &::before,
                    &::after {
                        content: "";
                        left: 50%;
                        height: 0;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        width: 0;
                        --size: 0.6em;
                    }
                    &::before {
                        border-bottom: var(--size) solid rgba(255, 255, 255, 0.5);
                        border-left: var(--size) solid transparent;
                        border-right: var(--size) solid transparent;
                        top: 40%;
                    }
                    &::after {
                        border-left: var(--size) solid transparent;
                        border-right: var(--size) solid transparent;
                        border-top: var(--size) solid rgba(255, 255, 255, 0.5);
                        top: 60%;
                    }
                }
            }
        }
    }
    #containerThree {
        align-items: center;
        background-color: #d9e5ee;
        display: flex;
        flex-flow: column;
        justify-content: start;
        width: 35%;
        padding: 1em 1em 0 1em;
        .buttons {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            button {
                background-color: #ac9655;
                border-radius: 7.5px;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                margin: 1em auto;
                padding: 1em 2em;
                transition: all 250ms ease-in-out;
                width: 40%;
                &:hover {
                    background-color: #ccc;
                    color: #000;
                }
                .donation {
                    font-size: 1em;
                    position: relative;
                    &::after {
                        content: url(../media/cart.svg);
                        padding-right: 0.25em;
                        position: absolute;
                        right: -2em;
                        top: -0.4em;
                    }
                }
            }
        }
        .form {
            align-items: center;
            border: #685b33 1px solid;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            margin: 0 0 0.75em 0;
            padding: 0.5em;
            .extraInfo {
                margin-bottom: 1em;
            }
            input {
                border: 0;
                border-radius: 5px;
                height: 1.25rem;
                width: 35%;
                &.invalid {
                    border: #ff0f0f 2px solid;
                    transition: border 750ms ease-in-out;
                }
            }
            a {
                color: crimson;
                text-decoration: none;
            }
            p {
                line-height: 1.5em;
                margin: 0.5em 0;
                text-align: center;
            }
            #submitAndReset {
                align-items: center;
                display: flex;
                justify-content: center;
                margin: 1em 0;
                width: 100%;
                input {
                    background-color: #247a5f;
                    border-radius: 5px;
                    color: #fff;
                    cursor: pointer;
                    height: 2rem;
                    margin: 0 0.5em;
                    width: 30%;
                }
            }
        }
        .information {
            border-radius: 10px;
            margin-bottom: 0.75em;
            width: 95%;
            ul {
                align-items: flex-start;
                background-color: #106147;
                border: 0;
                border-radius: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1em 0.5em;
                li {
                    color: #fff;
                    margin: 1em 0;
                }
            }
        }
    }
}

footer {
    align-items: center;
    background-color: #98ad8b;
    display: flex;
    height: 15vh;
    justify-content: center;
    .contact {
        align-items: center;
        background-color: #ccc;
        border: 0;
        border-radius: 75px;
        display: flex;
        justify-content: center;
        padding: 2em 3em;
        img {
            margin: 0 1em;
            width: 2.5rem;
        }
    }
}